body
{
  margin:0;
  padding: 0;
  font-family: arial;
}

a
{
  color: #f34;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.container
{
  width: 800px;
  margin: 0 auto;
}

header
{
  padding: 20px;
  background-color: #e54;
}

header h1,
footer
{
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

h2
{
  color: #44b;
  text-shadow: 1px 1px 3px #000;
}

header nav ul li
{
  display: inline-block;
  line-height: 32px;
  font-weight: bold;
}

header nav ul li a
{
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  color:rgba(255,255,255,0.9);
  text-decoration: none;
  padding: 10px 20px;
}

header nav ul li a:hover,
header nav ul li a:focus
{
  background-color: rgba(255,255,255,0.5);
  color: rgba(0,0,0,0.9);
  text-decoration: none;
}

header nav ul li a.this-page
{
  background-color: #fff;
  color: rgba(0,0,0,0.9);
  box-shadow: 0 1px 4px rgba(0,0,0,0.5);
}

header h1
{
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.9);
}

footer nav ul
{
  margin-bottom: 10px;
}

footer nav ul li
{
  display: inline-block;
  font-size: 11px;
  padding: 0 5px;
}

footer nav ul li a
{
  text-decoration: none;
}

footer nav ul li a:hover
{
  text-decoration: underline;
}

footer nav ul li a.this-page
{
  text-decoration: underline;
}

footer ul li:after
{
  padding-left: 10px;
  content: " | ";
}

footer ul li:last-of-type:after
{
  content: "";
}

div#content
{
  margin: 10px 20px;
}

fieldset
{
  background: rgba(0,0,0,0.3);
  margin: 5px;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}

fieldset span
{
  margin-left: 110px;
  margin-top: 10px;
  color: #c00;
  vertical-align: top;
}

label
{
  width: 100px;
  display: inline-block;
  text-align: right;
  vertical-align: center;
  font-weight: bold;
  color: #333;
}

input[type='text'],
input[type='tel'],
input[type='email'],
textarea
{
  line-height: 20px;
  width: 400px;
  padding: 5px;
  border-radius: 5px;
  background-color: #eee;
}

input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
textarea:focus
{
  background-color: #fcc;
  outline: none;
}

input[type='submit'],
input[type='reset']
{
  width: 100px;
  line-height: 32px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

textarea
{
  height: 100px;
}

#fs_buttons
{
  background: inherit;
  text-align: center;
}

#products li,
#services li
{
  margin-top: 10px;
}

#products h3,
#services h3,
#products p,
#services p
{
  margin: 0;
  padding: 0;
}