body
{
  margin:0;
  padding: 0;
  font-family: arial;
}

header
{
  padding: 20px;
  background-color: #e54;
}

header h1,
footer
{
  text-align: center;
}

header nav ul,
footer nav ul
{
  list-style: none;
}

header nav ul li
{
  display: inline-block;
  line-height: 32px;
  font-weight: bold;
}

header nav ul li a
{
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  color:rgba(255,255,255,0.9);
  text-decoration: none;
  padding: 10px 20px;
}

header nav ul li a:hover,
header nav ul li a:focus
{
  background-color: rgba(255,255,255,0.5);
  color: rgba(0,0,0,0.9);
}

header nav ul li a#this-page
{
  background-color: rgba(255,255,255,0.5);
  color: rgba(0,0,0,0.9);
}

header h1
{
  margin-top: 100px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.9);
}

footer nav ul li
{
  display: inline-block;
  font-size: 11px;
  padding: 0 5px;
}

footer nav ul li a
{
  text-decoration: none;
}

footer nav ul li a:hover
{
  text-decoration: underline;
}

footer ul li:after
{
  padding-left: 10px;
  content: " | ";
}

footer ul li:last-of-type:after
{
  content: "";
}

section
{
  margin: 0 20px;
}

fieldset
{
  background: rgba(0,0,0,0.3);
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 10px;
}

legend
{
  padding: 0 20px;
  font-size: 24px;
  font-weight: bold;
}

